* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f2f4f8;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

html a,
body a {
  text-decoration: none;
  color: inherit;
}

html .wrapper,
body .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

html .container,
body .container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60px auto 1fr;
      grid-template-rows: 60px auto 1fr;
}

html .container .header,
body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #2d313d;
  color: #727989;
}

html .container .header .wrapper,
body .container .header .wrapper {
  width: 100%;
}

html .container .headerContainer,
body .container .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 45px;
}

html .container .headerLogo,
body .container .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid transparent;
  border-radius: 50%;
}

html .container .headerLogo:hover,
body .container .headerLogo:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #ffffff);
          filter: drop-shadow(0px 0px 20px #ffffff);
  border: 1px solid #ffffff;
}

html .container .headerUserMenu,
body .container .headerUserMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

html .container .headerUserLink,
body .container .headerUserLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

html .container .headerUserLink:last-child,
body .container .headerUserLink:last-child {
  padding-right: 5px;
}

html .container .headerUserLink:hover,
body .container .headerUserLink:hover {
  color: #ffffff;
}

html .container .headerUserLinkPlace,
body .container .headerUserLinkPlace {
  background-color: #2d313d;
  border: none;
  border-bottom: 1px dashed #727989;
  color: #727989;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 10px;
  text-align: left;
}

html .container .headerUserLinkPlace:focus,
body .container .headerUserLinkPlace:focus {
  outline: none;
}

html .container .headerUserLinkPlace:hover,
body .container .headerUserLinkPlace:hover {
  color: #ffffff;
}

html .container .headerUserLinkProfile,
body .container .headerUserLinkProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .container .headerUserLinkProfileImage,
body .container .headerUserLinkProfileImage {
  margin-left: 10px;
}

html .container .headerUserLink i,
body .container .headerUserLink i {
  font-size: 18px;
}

html .container .nav,
body .container .nav {
  width: 100%;
  background-color: #646d81;
  color: #ffffff;
}

html .container .nav nav,
body .container .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

html .container .navLink,
body .container .navLink {
  display: block;
  margin-right: 30px;
  padding: 7px 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 5px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

html .container .navLink:hover,
body .container .navLink:hover {
  border-top-color: #ffffff;
}

html .container .content,
body .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 170px auto;
      grid-template-columns: 170px auto;
  width: 100%;
  background-color: #ffffff;
}

html .container .contentMenu,
body .container .contentMenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #e0e4ed;
  padding: 20px 0;
}

html .container .contentMenuList,
body .container .contentMenuList {
  margin-bottom: 35px;
}

html .container .contentMenuList:last-child,
body .container .contentMenuList:last-child {
  margin-bottom: 0;
}

html .container .contentMenuItem,
body .container .contentMenuItem {
  display: block;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  color: #99a1b3;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  padding: 0 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 5px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

html .container .contentMenuItem:hover,
body .container .contentMenuItem:hover {
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 5px solid #99a1b3;
}

html .container .contentMenuItemTitle,
body .container .contentMenuItemTitle {
  font-family: 'Georgia', sans-serif;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding: 0 25px;
}

html .container .contentMenuItem__long,
body .container .contentMenuItem__long {
  line-height: 20px;
}

html .container .content .main,
body .container .content .main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

html .container .content .mainContent,
body .container .content .mainContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

html .container .content .mainContentTitle,
body .container .content .mainContentTitle {
  padding: 30px 30px 20px;
  font-family: 'Georgia', sans-serif;
  color: #2d313d;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  line-height: 35px;
}

html .container .content .mainContentTitleForm,
body .container .content .mainContentTitleForm {
  display: inline-block;
  margin-left: 25px;
}

html .container .content .mainContentTitleForm select,
body .container .content .mainContentTitleForm select {
  display: block;
  font-family: 'Georgia', sans-serif;
  color: #2d313d;
  font-size: inherit;
  font-weight: 400;
  text-align: left;
  border: none;
  border-bottom: 1px dashed #2d313d;
  line-height: 35px;
  background-color: transparent;
}

html .container .content .mainContentTitleForm select:focus,
body .container .content .mainContentTitleForm select:focus {
  outline: none;
}

html .container .content .mainContentTitleForm select:hover,
body .container .content .mainContentTitleForm select:hover {
  background-color: #f2f4f8;
  border-bottom-style: solid;
}

html .container .content .mainContentTitleForm select option,
body .container .content .mainContentTitleForm select option {
  background-color: #f2f4f8;
}

html .container .content .mainContentSearch,
body .container .content .mainContentSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f4f8;
  padding: 5px 30px;
  color: #99a1b3;
}

html .container .content .mainContentSearchForm,
body .container .content .mainContentSearchForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  max-width: 290px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d6d9e1;
  border-radius: 5px;
  background-color: #ffffff;
}

html .container .content .mainContentSearchFormItem,
body .container .content .mainContentSearchFormItem {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 10px;
  outline: none;
  color: #99a1b3;
  height: 100%;
}

html .container .content .mainContentSearchFormItem_txt,
body .container .content .mainContentSearchFormItem_txt {
  padding: 2px 10px;
  font-family: 'Arial', sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 14px;
}

html .container .content .mainContentSearchFormItem_txt::-webkit-input-placeholder,
body .container .content .mainContentSearchFormItem_txt::-webkit-input-placeholder {
  color: #99a1b3;
}

html .container .content .mainContentSearchFormItem_txt:-ms-input-placeholder,
body .container .content .mainContentSearchFormItem_txt:-ms-input-placeholder {
  color: #99a1b3;
}

html .container .content .mainContentSearchFormItem_txt::-ms-input-placeholder,
body .container .content .mainContentSearchFormItem_txt::-ms-input-placeholder {
  color: #99a1b3;
}

html .container .content .mainContentSearchFormItem_txt::placeholder,
body .container .content .mainContentSearchFormItem_txt::placeholder {
  color: #99a1b3;
}

html .container .content .mainContentSearchFormItem_btn,
body .container .content .mainContentSearchFormItem_btn {
  display: block;
  font-size: 18px;
  -webkit-transition: .2s;
  transition: .2s;
}

html .container .content .mainContentSearchFormItem_btn:hover,
body .container .content .mainContentSearchFormItem_btn:hover {
  color: #333333;
}

html .container .content .mainContentSearchSettingsItem,
body .container .content .mainContentSearchSettingsItem {
  display: inline-block;
  font-family: 'Georgia', sans-serif;
  color: #99a1b3;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
}

html .container .content .mainContentSearchSettingsItem:active,
body .container .content .mainContentSearchSettingsItem:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #333333;
}

html .container .content .mainContentSearchSettingsItem_add,
body .container .content .mainContentSearchSettingsItem_add {
  font-size: 12px;
  margin-right: 75px;
}

html .container .content .mainContentSearchSettingsItem_add:hover,
body .container .content .mainContentSearchSettingsItem_add:hover {
  color: #333333;
}

html .container .content .mainContentSearchSettingsItem_btn,
body .container .content .mainContentSearchSettingsItem_btn {
  font-size: 18px;
  margin-right: 25px;
}

html .container .content .mainContentSearchSettingsItem_btn:hover,
body .container .content .mainContentSearchSettingsItem_btn:hover {
  color: #333333;
}

html .container .content .mainContentPosts,
body .container .content .mainContentPosts {
  padding: 30px;
}

html .container .content .mainContentPostsItem,
body .container .content .mainContentPostsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

html .container .content .mainContentPostsItem:first-child,
body .container .content .mainContentPostsItem:first-child {
  padding: 0 0 15px 0;
}

html .container .content .mainContentPostsItemPhoto,
body .container .content .mainContentPostsItemPhoto {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
}

html .container .content .mainContentPostsItemInfo,
body .container .content .mainContentPostsItemInfo {
  display: inline-block;
  padding-left: 15px;
}

html .container .content .mainContentPostsItemAuthor,
body .container .content .mainContentPostsItemAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #99a1b3;
}

html .container .content .mainContentPostsItemAuthorName,
body .container .content .mainContentPostsItemAuthorName {
  display: inline-block;
  width: 85px;
}

html .container .content .mainContentPostsItemAuthorName:hover,
body .container .content .mainContentPostsItemAuthorName:hover {
  color: #333333;
}

html .container .content .mainContentPostsItemAuthorStatus,
body .container .content .mainContentPostsItemAuthorStatus {
  padding: 5px 15px;
  background-color: #f2f4f8;
  border-radius: 4px;
}

html .container .content .mainContentPostsItemAuthorComments,
body .container .content .mainContentPostsItemAuthorComments {
  margin-right: 10px;
}

html .container .content .mainContentPostsItemAuthorComments :hover,
body .container .content .mainContentPostsItemAuthorComments :hover {
  color: #333333;
}

html .container .content .mainContentPostsItemAuthorComments i,
body .container .content .mainContentPostsItemAuthorComments i {
  margin-right: 3px;
}

html .container .content .mainContentPostsItemAuthorTime,
body .container .content .mainContentPostsItemAuthorTime {
  margin-right: 28px;
}

html .container .content .mainContentPostsItemAuthorTime i,
body .container .content .mainContentPostsItemAuthorTime i {
  margin-right: 3px;
}

html .container .content .mainContentPostsItemTitle,
body .container .content .mainContentPostsItemTitle {
  padding: 5px 0;
  color: #4f9cd4;
  font-size: 16px;
  font-weight: bold;
}

html .container .content .mainContentPostsItemText,
body .container .content .mainContentPostsItemText {
  font-size: 14px;
  color: #000000;
  padding-bottom: 14px;
}

html .container .content .mainContentPostsItemTags,
body .container .content .mainContentPostsItemTags {
  font-size: 12px;
  color: #99a1b3;
}

html .container .content .mainContentPostsNav,
body .container .content .mainContentPostsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

html .container .content .mainContentPostsNavBtn,
body .container .content .mainContentPostsNavBtn {
  display: block;
  font-size: 14px;
  border: 1px solid #99a1b3;
  border-radius: 4px;
}

html .container .content .mainContentPostsNavBtn_previous,
body .container .content .mainContentPostsNavBtn_previous {
  margin-right: 5px;
  padding: 10px 18px 10px 13px;
}

html .container .content .mainContentPostsNavBtn_previous i,
body .container .content .mainContentPostsNavBtn_previous i {
  padding-right: 12px;
}

html .container .content .mainContentPostsNavBtn_next,
body .container .content .mainContentPostsNavBtn_next {
  margin-left: 5px;
  padding: 10px 13px 10px 18px;
}

html .container .content .mainContentPostsNavBtn_next i,
body .container .content .mainContentPostsNavBtn_next i {
  padding-left: 12px;
}

html .container .content .mainContentNav,
body .container .content .mainContentNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f4f8;
  padding: 5px 30px;
  border-bottom: 1px solid #ffffff;
}

html .container .content .mainContentNavItem,
body .container .content .mainContentNavItem {
  margin-right: 20px;
  padding: 10px 0;
  display: block;
  color: #99a1b3;
  font-size: 12px;
}

html .container .content .mainContentNavItem:hover,
body .container .content .mainContentNavItem:hover {
  color: #333333;
}

html .container .content .footer,
body .container .content .footer {
  width: 100%;
  background-color: #f2f4f8;
  padding: 14px 30px;
}

html .container .content .footerLogo,
body .container .content .footerLogo {
  display: inline-block;
  width: 22px;
  height: 13px;
  margin-right: 10px;
}

html .container .content .footerLogo img,
body .container .content .footerLogo img {
  display: block;
  position: relative;
  top: 3px;
}

html .container .content .footerText,
body .container .content .footerText {
  display: inline-block;
  color: #99a1b3;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */