* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #c1c1c1;
    max-width: 1140px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.main {
    width: 400px;
    background-color: #9d9999;
    margin: 0 auto;

    .btn {
        display: block;
        width: 200px;
        height: 40px;
        padding: 10px 20px;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
        color: #ffffff;
        background-color: #3d1d1d;
        border-radius: 10px;
        border-top-color: #907979;
        border-left-color: #907979;
        border-bottom-color: #2e2727;
        border-right-color: #2e2727;
        transition: .2s;

        &Control {
            margin: 50px auto;
        }

        &Reset,
        &Save {
            margin: 20px auto;
        }

        &:active {
            border-color: #9d9999;
        }

        &:disabled {
            background-color: #9d9999;
            border-top-color: #2e2727;
            border-left-color: #2e2727;
            border-bottom-color: #eeeeee;
            border-right-color: #eeeeee;
        }

        &:enabled:hover {
            background-color: #6a3434;
        }
    }

    .watch {
        display: flex;
        justify-content: center;
        font-family: 'Arial', sans-serif;
        font-size: 40px;
        text-align: center;

        div {
            width: 80px;
            margin: 10px 2px;
            padding: 5px;
            box-sizing: border-box;
            border: 3px solid #2e2727;
            border-radius: 10px;
            background-color: #e4e4e4;
        }
    }

    .results {
        margin: 20px 40px;
        border: 3px solid #2e2727;
        border-radius: 10px;
        background-color: #e4e4e4;
        

        .result {
            padding: 10px 30px;
            margin: 0 auto;
            height: 20px;
            text-align: center;
        }
    }
}