* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #c1c1c1;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
    padding: 20px 30px;
}

.main {
    display: grid;
    grid-template-columns: 1fr auto;

    @media (max-width: 767.98px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .errorBlock {
        padding: 20px;
        color:#ff0000;
    }

    .users {

        &List {
            width: 100%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(6, 1fr);
        }

        .user {
            &Link {
                display: block;
                text-decoration: none;
                color: #000000;
                background-color: #ffffff;
                border: 1px solid #603e3e;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px 20px;
                text-align: center;

                &:hover {
                    background-color: #f1cbcb;
                }

                &Active {
                    background-color: #603e3e;
                    color: #ffffff;
                    border-bottom: none;

                    &:hover {
                        background-color: #603e3e;
                    }
                }
            }

            &Data {
                padding: 40px;
                display: grid;
                grid-template-columns: auto 1fr;
                background-color: #603e3e;
                color: #ffffff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                &Img {
                    display: block;
                    width: 128px;
                    height: 128px;
                    margin-right: 30px;
                    border-radius: 5px;
                }

                &Name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &First {
                        display: block;
                        padding: 5px 0;
                    }

                    &Last {
                        display: block;
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    #getBtn {
        display: block;
        margin-left: 20px;
        height: 40px;
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 10px;
        width: fit-content;
        font-family: inherit;

        @media (max-width: 767.98px) {
            margin-bottom: 10px;
            align-self: flex-end;
        }
    }
}

.error {
    background-color: #fdbaba;
}
