* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #c1c1c1;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
    padding: 20px 30px;
}

.main {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: bisque;

    .errorBlock {
        // background-color: #fdbaba;
        padding: 20px;
        color:#ff0000;
    }

    #getBtn {
        display: block;
        height: 40px;
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 10px;
        width: fit-content;
        font-family: inherit;
        // float: right;
    }
    // &::after {
    //     content: '';
    //     display: block;
    //     clear: both;
    // }
}

.error {
    background-color: #fdbaba;
}
