* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body {
    background-color: #eeeeee;
}

.container {
    background-color: #c1c1c1;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
}

#form {
    background-color: #5d5050;
    color: #ffffff;
    padding: 10px 50px;

    label {
        display: block;
        padding: 10px;

        input {
            padding: 3px 5px;
        }
    }

    button {
        margin: 20px 30px 10px;
        padding: 10px 20px;
        color: #ffffff;
        background-color: #3d1d1d;
        border-top-color: #907979;
        border-left-color: #907979;
        border-bottom-color: #2e2727;
        border-right-color: #2e2727;
        transition: .2s;

        &:active {
            border-color: transparent;
        }

        &:disabled {
            background-color: #9d9999;
            border-top-color: #2e2727;
            border-left-color: #2e2727;
            border-bottom-color: #eeeeee;
            border-right-color: #eeeeee;
        }

        &:enabled:hover {
            background-color: #6a3434;
        }
    }
}

.board {
    margin: 20px 50px;
    border-collapse: collapse;
    background-color: aqua;
    border: 5px solid #5d5050;
    box-sizing: border-box;

    .row {
        background-color: #5d5050;

        .cell {
            width: 30px;
            height: 30px;
            border: 1px solid #5d5050;
            box-sizing: border-box;
    
            &White {
                background-color: #ffffff;
            }
    
            &Black {
                background-color: #000000;
            }
        }
    }
}