* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body {
    background-color: #eeeeee;
}

.container {
    background-color: #ffffff;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
}

#form {
    background-color: #5d5050;

    
}