* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body {
    background-color: #eeeeee;
}

.container {
    background-color: #ffffff;
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
}

#form {
    background-color: #5d5050;
    color: #ffffff;
    padding: 10px 50px;

    label {
        display: block;
        padding: 10px;

        input {
            padding: 3px 5px;
        }
    }

    button {
        margin: 10px 30px;
        padding: 5px 10px;
        
    }
}

.board {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid #5d5050;
}